@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2')
}

#svelte {
    min-height: 100vh;
}

:root{
    --primary_color_rgb: 0,92,90; /* primary colour (hex: #005c5a) */
    --secondary_color_rgb: 241, 178, 75; /* (hex: #f1b24b) */
    --important_signifier_color_rgb: 189, 64, 73; /* (hex: #BD4049)*/
    --darkest_color_rgb: 0, 0, 0; /* icons (hex: #000000)*/
    --darker_color_rgb: 33, 33, 33; /* primary text (hex: #212121)*/
    --dark_color_rgb: 117, 117, 117; /* secondary text (hex: #757575)*/
    --bright_color_rgb: 189, 189, 189; /* devider (hex: #BDBDBD) */
    --brightest_color_rgb: 255, 255, 255; /* background (hex: #ffffff)*/

    --primary_color: rgb(var(--primary_color_rgb)); /* primary colour */
    --secondary_color: rgb(var(--secondary_color_rgb));
    --important_signifier_color: rgb(var(--important_signifier_color_rgb));
    --darkest_color: rgb(var(--darkest_color_rgb)); /* icons */
    --darker_color: rgb(var(--darker_color_rgb)); /* primary text */
    --dark_color: rgb(var(--dark_color_rgb)); /* secondary text */
    --bright_color: rgb(var(--bright_color_rgb)); /* devider */
    --brightest_color: rgb(var(--brightest_color_rgb)); /* backgroudn */
}

* {
    outline-color: var(--secondary_color);
}

html {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: var(--darker_color);
    height: 100vh;
}

body {
    min-height: calc(100vh - 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
}

.grid_container {
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
    "headerarea navarea"
    "mainarea mainarea"
    "footerarea footerarea"
}

header, header + nav {
    font-family: "JetBrains Mono", monospace;
    border-bottom: 1px solid var(--bright_color);
}

header {
    grid-area: headerarea;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
}

header > h1 {
    margin: 0 calc(1em);
}

header > h1 > a {
    text-decoration: none;
}

header + nav {
    grid-area: navarea;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5em;
}

header + nav > a {
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    border-bottom: 1px solid var(--bright_color);
}

header + nav > a:hover{
    border-bottom: 1px solid var(--secondary_color);
}

a > img {
    margin-right: 0.25em;
}

main {
    display: flex;
    grid-area: mainarea;
}

h1, h2, h3, h1 > a {
    color: var(--primary_color)
}

figcaption {
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--text_color);
    padding: 3px;
}

tr:nth-child(even), th {
    background-color: var(--bright_color);
}

form {
    display: flex;
    flex-direction: column;
}

[type="submit"], button {
    justify-self: center;
    align-self: center;
    flex-grow: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: var(--text_color);
    font-size: 1em;
    background-color: var(--secondary_color);
    border-top: 1px solid var(--dark_color);
    border-right: 2px solid var(--darker_color);
    border-bottom: 2px solid var(--darker_color);
    border-left: 1px solid var(--dark_color);
    border-radius: 5px;
    padding: calc(1em - 1px) calc(1em - 2px) calc(1em - 2px) calc(1em - 1px);
    margin: 5px;
}

[type="submit"]:hover, [type="submit"]:focus, button:hover, button:focus {
    background-color: var(--secondary_color);
    border-top: 1px solid var(--darker_color);
    border-right: 1px solid var(--dark_color);
    border-bottom: 1px solid var(--dark_color);
    border-left: 1px solid var(--darker_color);
    padding: calc(1em - 1px) calc(1em - 1px) calc(1em - 1px) calc(1em - 1px);
}

[type="submit"]:active, button:active  {
    background-color: var(--secondary_color);
    border-top: 2px solid var(--darker_color);
    border-right: 1px solid var(--dark_color);
    border-bottom: 1px solid var(--dark_color);
    border-left: 2px solid var(--darker_color);
    padding: calc(1em - 2px) calc(1em - 1px) calc(1em - 1px) calc(1em - 2px);
}

footer {
    grid-area: footerarea;
    display: flex;
    justify-self: center;
    justify-content: center;
    font-size: 0.5em;
}

a {
    color: var(--darker_color);
}

a:hover {
    color: var(--secondary_color);
}

main {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-left: calc(10% - 20px);
    margin-right: calc(10% - 20px);
}

section {
    max-width: 100%;
}

fieldset {
    background-color: var(--brightest_color);
    border: 1px solid var(--bright_color);
    border-radius: 1em;
}

fieldset legend {
    color: var(--darker_color);
    font-weight: bold;
    font-size: 0.8em;
}

label {
    display: inline-block;
}

input, select, textarea  {
    border: 1px solid var(--secondary_color);
}

input:invalid, select:invalid, textarea:invalid {
    background-color: rgba(var(--secondary_color_rgb), 0.25);
}

input:focus, select:focus, textarea:focus  {
    border: 1px solid var(--secondary_color);
    outline: var(--secondary_color) 1px outset;
}

.warning {
    transition: font-size 1s;
    color: var(--important_signifier_color);
    font-size: 0.8em;
}

@media screen and (max-width:415px) {
    .grid_container {
        grid-template-columns: 60% 40%;
        grid-template-rows: min-content auto min-content;
        grid-template-areas:
        "headerarea navarea"
        "mainarea mainarea"
        "footerarea footerarea"
    }

    header {
        justify-content: flex-start;
    }

    header > h1 {
        font-size: 1em;
        margin-left: 10px;
    }

    header + nav {
        justify-content: space-around;
        align-items: center;
    }

    header + nav > a {
        font-size: 0;
        border-bottom: 1px solid hidden;
    }

    header + nav > a > img {
        display: block;
    }

    section {
        width: 100%;
    }
}

/*************** /survey/[id] RULES ***************/

.no_bottom_padding {
    margin-bottom: 0;
}

main nav {
    font-size: 0.8em;
}

main nav > a {
    margin-left: 1em;
    margin-right: 1em;
    color: var(--dark_color);
}

.appointment_survey fieldset label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
    height: 5em;
    width: 5em;
    border: solid black 1px;
    flex-grow: 0;
    flex-shrink: 0;
    /** @TODO Make not selectable */
}

.appointment_survey fieldset label:hover, .appointment_survey fieldset label:focus {
    border-color: var(--secondary_color);
}

.selected_slot {
    background-color: var(--secondary_color);
}

.appointment_survey [type="checkbox"] {
    position: absolute;
    left: -100vh
}

.appointment_survey fieldset {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    overflow-x: auto;
    min-width: 0;
    flex-grow: 0;
    flex-shrink: 1;
}

.table_container {
    overflow-x: scroll;
}

.hidden {
    visibility: hidden;
    font-size: 0;
}

@media screen and (max-width: 415px) {
    main nav {
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }

    main nav > a {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .appointment_survey fieldset {
        flex-direction: column;
        height: auto;
        max-height: 200px;
    }

    .appointment_survey fieldset label {
        height: 44px;
        width: auto;
        flex-direction: row;
    }

    .appointment_survey fieldset label time {
        margin-left: 5px;
        margin-right: 5px;
    }
}