@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2')
}

#svelte {
    min-height: 100vh;
}

:root{
    --main_color: #00bc7e;
    --very_bright_main_color: rgba(163, 200, 175, 0.46);
    --bright_main_color: rgba(149, 193, 160, 0.46);
    --text_color: #575757;
    --bright_text_color: #6d6c6c;
    --warning: #d79595;
    --inactive_color: #d7d7d7;
    --secondary_color: #f3f3f3;
}

html {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: var(--text_color);
    height: 100vh;
}

body {
    min-height: calc(100vh - 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
}

.grid_container {
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
    "headerarea"
    "navarea"
    "mainarea"
    "footerarea"
}

header, header + nav {
    font-family: "JetBrains Mono", monospace;
}

header {
    grid-area: headerarea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--main_color);
}

header > h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header + nav {
    grid-area: navarea;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    background-color: var(--secondary_color);
}

header + nav > a {
    margin-left: 1em;
    margin-right: 1em;
    color: var(--text_color);
    text-decoration: none;
}

header + nav > a > img {
    display: none;
}

main {
    display: flex;
    grid-area: mainarea;
}

figcaption {
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--text_color);
    padding: 3px;
}

tr:nth-child(even), th {
    background-color: var(--secondary_color);
}

form {
    display: flex;
    flex-direction: column;
}

[type="submit"], button {
    justify-self: center;
    align-self: center;
    flex-grow: 0;
    padding: 1em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: var(--text_color);
    font-size: 1em;
    background-color: var(--very_bright_main_color);
    border-top: 1px solid var(--inactive_color);
    border-right: 2px solid var(--text_color);
    border-bottom: 2px solid var(--text_color);
    border-left: 1px solid var(--inactive_color);
    border-radius: 5px;
    margin: 5px 1px 1px 2px;
}

[type="submit"]:hover, [type="submit"]:focus, button:hover, button:focus {
    background-color: var(--bright_main_color);
    border-top: 1px solid var(--text_color);
    border-right: 1px solid var(--inactive_color);
    border-bottom: 1px solid var(--inactive_color);
    border-left: 1px solid var(--text_color);
    margin: 5px 2px 2px 2px;
}

[type="submit"]:active, button:active  {
    background-color: var(--bright_main_color);
    border-top: 2px solid var(--text_color);
    border-right: 1px solid var(--inactive_color);
    border-bottom: 1px solid var(--inactive_color);
    border-left: 2px solid var(--text_color);
    margin-top: 4px;
    margin-bottom: 2px;
    margin: 4px 2px 2px 1px;
}

footer {
    grid-area: footerarea;
    display: flex;
    justify-self: center;
    justify-content: center;
    font-size: 0.5em;
}

a {
    color: var(--text_color);
}

a:hover {
    color: var(--main_color);
}

main {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-left: calc(10% - 20px);
    margin-right: calc(10% - 20px);
}

section {
    max-width: 100%;
}

fieldset {
    background-color: var(--secondary_color);
}

fieldset legend {
    font-weight: bold;
    font-size: 0.8em;
}

label {
    display: inline-block;
}

.warning {
    transition: font-size 1s;
    color: var(--warning);
    font-size: 0.8em;
}

@media screen and (max-width:415px) {
    .grid_container {
        grid-template-columns: 60% 40%;
        grid-template-rows: min-content auto min-content;
        grid-template-areas:
        "headerarea navarea"
        "mainarea mainarea"
        "footerarea footerarea"
    }

    header {
        justify-content: flex-start;
        background-color: var(--secondary_color);
    }

    header > h1 {
        font-size: 1em;
        margin-left: 10px;
    }

    header + nav {
        justify-content: space-around;
        align-items: center;
    }

    header + nav > a {
        font-size: 0;
    }

    header + nav > a > img {
        display: block;
    }

    section {
        width: 100%;
    }
}

/*************** /survey/[id] RULES ***************/

.no_bottom_padding {
    margin-bottom: 0;
}

main nav {
    font-size: 0.8em;
}

main nav > a {
    margin-left: 1em;
    margin-right: 1em;
    color: var(--inactive_color);
    text-decoration: none;
}

.appointment_survey fieldset label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
    height: 5em;
    width: 5em;
    border: solid black 1px;
    flex-grow: 0;
    flex-shrink: 0;
    /** @TODO Make not selectable */
}

.appointment_survey fieldset label:hover, .appointment_survey fieldset label:focus {
    border-color: var(--bright_main_color);
}

.selected_slot {
    background-color: var(--bright_main_color);
}

.appointment_survey [type="checkbox"] {
    position: absolute;
    left: -100vh
}

.appointment_survey fieldset {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    overflow-x: auto;
    min-width: 0;
    flex-grow: 0;
    flex-shrink: 1;
}

.table_container {
    overflow-x: scroll;
}

.hidden {
    visibility: hidden;
    font-size: 0;
}

@media screen and (max-width: 415px) {
    main nav {
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }

    main nav > a {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .appointment_survey fieldset {
        flex-direction: column;
        height: auto;
        max-height: 200px;
    }

    .appointment_survey fieldset label {
        height: 44px;
        width: auto;
        flex-direction: row;
    }

    .appointment_survey fieldset label time {
        margin-left: 5px;
        margin-right: 5px;
    }
}